<th>
  <p><%= Print::MqttPrinter.human_attribute_name(:dev_imei) %></p>
  <p><%= Print::MqttPrinter.human_attribute_name(:created_at) %></p>
</th>
<th>
  <p><%= Print::MqttPrinter.human_attribute_name(:registered_at) %></p>
  <p class="text-success"><%= Print::MqttPrinter.human_attribute_name(:authorized_at) %></p>
</th>
<th><%= Print::MqttPrinter.human_attribute_name(:dev_desc) %></th>
<th><%= Print::MqttPrinter.human_attribute_name(:online) %></th>
<th><%= Print::MqttPrinter.human_attribute_name(:organ_id) %></th>
<th>
  <p><%= Print::MqttPrinter.human_attribute_name(:username) %></p>
  <p><%= Print::MqttPrinter.human_attribute_name(:password) %></p>
</th>