<td class="family-monospace">
  <p><%= model.dev_imei %></p>
  <p><time data-controller="time" class="text-grey"><%= model.created_at.to_fs(:iso8601) %></time></p>
</td>
<td>
  <p>
  <% if model.registered_at.present? %>
    <time data-controller="time"><%= model.registered_at.to_fs(:iso8601) %></time>
  <% end %>
  </p>
  <p class="text-success">
  <% if model.authorized_at.present? %>
    <time data-controller="time"><%= model.authorized_at.to_fs(:iso8601) %></time>
  <% end %>
  </p>
</td>
<td>
  <p><%= model.dev_desc %></p>
  <p><%= model.dev_type_i18n %></p>
</td>
<td>
  <% if model.online %>
    <p>
      <%= svg_tag 'check', class: 'icon text-success' %>
    </p>
  <% elsif model.offline_at %>
    <p class="size-7 text-grey"><%= Print::MqttPrinter.human_attribute_name(:offline_at) %></p>
    <p><time data-controller="time"><%= model.offline_at.to_fs(:iso8601) %></time></p>
  <% end %>
</td>
<td>
<% model.organs.each do |organ| %>
  <p><%= organ.name %></p>
<% end %>
</td>
<td>
  <p><%= model.username %></p>
  <p><%= model.password %></p>
</td>