<td class="family-monospace">
  <p><%= model.dev_imei %></p>
  <p><time data-controller="time" class="text-grey"><%= model.created_at.to_fs(:iso8601) %></time></p>
</td>
<td>
  <p>
  <% if model.registered_at.present? %>
    <time data-controller="time"><%= model.registered_at.to_fs(:iso8601) %></time>
  <% end %>
  </p>
  <p class="text-success">
  <% if model.authorized_at.present? %>
    <time data-controller="time"><%= model.authorized_at.to_fs(:iso8601) %></time>
  <% end %>
  </p>
</td>
<td>
  <p><%= model.dev_desc %></p>
  <p>
    <span><%= model.dev_type_i18n %></span>
    <% if model.dev_type_cpcl? %>
      <%= button_to({ action: 'dev_type', id: model.id }, params: { dev_type: 'esc' }, class: 'button is-small is-info') do %>
        <span>切换为 ESC</span>
      <% end %>
    <% else %>
      <%= button_to({ action: 'dev_type', id: model.id }, params: { dev_type: 'cpcl' }, class: 'button is-small is-info') do %>
        <span>切换为 CPCL</span>
      <% end %>
    <% end %>
  </p>
</td>
<td>
  <p><%= model.dev_spec %></p>
  <p><%= model.dev_version %></p>
</td>
<td>
  <% if model.online %>
    <p>
      <%= svg_tag 'check', class: 'icon text-success' %>
      <time data-controller="time"><%= model.ready_at.to_fs(:iso8601) %></time>
    </p>
  <% elsif model.offline_at %>
    <p class="size-7 text-grey"><%= Print::MqttPrinter.human_attribute_name(:offline_at) %></p>
    <p><time data-controller="time"><%= model.offline_at.to_fs(:iso8601) %></time></p>
  <% end %>
</td>
<td>
<% model.printer_aims.each do |po| %>
  <p>
    <span><%= po.organ&.name %></span>
    <span><%= po.aim %></span>
  </p>
<% end %>
</td>
<td>
  <p><%= model.username %></p>
  <p><%= model.password %></p>
</td>