<div class="box">
  <div class="has-block-space-around">
  <% if model.online %>
    <div class="tags has-addons mb-0">
      <span class="tag is-success">在线</span>
      <time data-controller="time" class="tag"><%= model.ready_at.to_fs(:iso8601) %></time>
    </div>
  <% else %>
    <div class="tags has-addons mb-0">
      <span class="tag is-danger">离线</span>
      <time data-controller="time" class="tag"><%= model.offline_at.to_fs(:iso8601) %></time>
    </div>
  <% end %>
  <% if model.dev_type %>
    <div class="tags has-addons">
      <span class="tag"><%= Print::MqttPrinter.human_attribute_name(:dev_type) %></span>
      <span class="tag is-dark"><%= model.dev_type %></span>
    </div>
  <% end %>
  </div>
  <div class="fixed-grid has-3-cols p-3">
    <div class="grid gap-2 as-actions">
      <%= render partial: 'test_actions', locals: { model: model } %>
    </div>
  </div>
</div>
