<th>
  <span><%= Print::MqttUser.human_attribute_name(:username) %></span>
  <span>/</span>
  <span><%= Print::MqttUser.human_attribute_name(:ip) %></span>
</th>
<th><%= Print::MqttUser.human_attribute_name(:note) %></th>
<th><%= Print::MqttUser.human_attribute_name(:password) %></th>
<th><%= Print::MqttUser.human_attribute_name(:is_superuser) %></th>
