<%= form_with theme: 'modal', model: @mqtt_user, url: { action: 'create' } do |f| %>
  <%= render 'modal_header' %>
  <section id="modal_card_body" class="modal-card-body">
    <%= render 'error_messages', target: f.object if f.object.errors.present? %>
    <div class="form-horizontal">
      <%= f.text_field :ip, autofocus: true %>
    </div>
  </section>
  <%= f.submit %>
<% end %>
