<%= form_with theme: 'modal', model: model, scope: model_name, url: { action: 'create' } do |f| %>
  <%= render 'modal_header' %>
  <section class="modal-card-body">
    <%= render 'error_messages', target: f.object if f.object.errors.present? %>
    <%= f.text_field :dev_imei, autofocus: true %>
  </section>
  <%= f.submit %>
<% end %>
