<%= render 'show_table_form' %>
<dl id="box" data-controller="single-input" class="as-show as-boxed is-striped">
  <%= render 'show_table' %>
</dl>

<div class="box">
  <p class="size-7 has-border-left-primary">普通打印（直接发送原始打印指令）</p>
  <div data-controller="clipboard" data-action="click->clipboard#copyInner" class="clipboard size-7 is-wrap mt-2">
    <div>
      <span>打印任务地址：</span>
      <span data-clipboard-target="source"><%= @mqtt_printer.webhook_url %></span>
    </div>
    <%= svg_tag 'clone', class: 'icon ml-1 text-warning copy' %>
  </div>
  <%= link_to({ controller: 'doc/subjects', action: 'code', meta_controller: 'print/api/tasks', meta_action: 'create' } , class: 'text-link mt-2') do %>
    <strong>查看文档</strong>
    <%= svg_tag 'angles-right' %>
  <% end %>
</div>

<div class="box">
  <p class="size-7 has-border-left-primary">模板打印</p>
  <div data-controller="clipboard" data-action="click->clipboard#copyInner" class="clipboard size-7 is-wrap mt-2">
    <div>
      <span>打印任务地址：</span>
      <span data-clipboard-target="source"><%= @mqtt_printer.webhook_url(action: 'template') %></span>
    </div>
    <%= svg_tag 'clone', class: 'icon ml-1 text-warning copy' %>
  </div>
  <%= link_to({ controller: 'doc/subjects', action: 'code', meta_controller: 'print/api/tasks', meta_action: 'template' } , class: 'text-link mt-2') do %>
    <strong>查看文档</strong>
    <%= svg_tag 'angles-right' %>
  <% end %>
</div>
