<% if model.dev_type_cpcl? %>
  <%=
    button_to(
      { controller: 'mqtt_printers', action: 'update', id: model.id },
      method: :patch,
      params: { 'mqtt_printer[dev_type]': 'esc' },
      class: 'cell has-column-centered'
    ) do
  %>
    <%= svg_tag 'print' %>
    <span>切换为 ESC</span>
  <% end %>
<% else %>
  <%=
    button_to(
      { controller: 'mqtt_printers', action: 'update', id: model.id },
      method: :patch,
      params: { 'mqtt_printer[dev_type]': 'cpcl' },
      class: 'cell has-column-centered'
    ) do
  %>
    <%= svg_tag 'print' %>
    <span>切换为 CPCL</span>
  <% end %>
<% end %>
<% if model.dev_cut_type_full? %>
  <%=
    button_to(
      { controller: 'mqtt_printers', action: 'update', id: model.id },
      method: :patch,
      params: { 'mqtt_printer[dev_cut_type]': 'partial' },
      class: 'cell has-column-centered'
    ) do
  %>
    <%= svg_tag 'print' %>
    <span>切换为半切刀</span>
  <% end %>
<% else %>
  <%=
    button_to(
      { controller: 'mqtt_printers', action: 'update', id: model.id },
      method: :patch,
      params: { 'mqtt_printer[dev_cut_type]': 'full' },
      class: 'cell has-column-centered'
    ) do
  %>
    <%= svg_tag 'print' %>
    <span>切换为全切刀</span>
  <% end %>
<% end %>