<%= button_to({ controller: 'mqtt_printers', action: 'test_print', id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'print' %>
  <span>打印自测</span>
<% end %>
<%= button_to({ controller: 'mqtt_printers', action: 'test_print', id: model.id }, params: { type: 'text' }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'print' %>
  <span>打印文字</span>
<% end %>
<%= button_to({ controller: 'mqtt_printers', action: 'test_print', id: model.id }, params: { type: 'qrcode' }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'print' %>
  <span>打印二维码</span>
<% end %>
<%= button_to({ controller: 'mqtt_printers', action: 'test_print', id: model.id }, params: { type: 'bar' }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'print' %>
  <span>打印条形码</span>
<% end %>
<%= link_to({ controller: 'tasks', printer_id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'print' %>
  <span>打印图像</span>
<% end %>
<%= link_to({ controller: 'printer/templates', mqtt_printer_id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'print' %>
  <span>模板打印</span>
<% end %>
