<%= f.text_field :name, autofocus: true %>
<%= f.select :dev_type, options_for_select(Print::Printer.options_i18n(:dev_type), f.object.dev_type) %>
<%= f.fields :printer_aims do |ef| %>
  <div class="field is-horizontal" data-controller="field" data-field-index-value="<%= ef.index %>">
    <div class="field-label"></div>
    <div class="field-body">
      <%= ef.hidden_field :organ_id, value: current_organ.id %>
      <%= ef.text_field :aim, placeholder: Print::PrinterAim.human_attribute_name(:aim) %>
      <span class="field has-addons has-addons-middle">
        <%= svg_tag 'plus', data: { action: 'click->field#add' }, class: 'icon clickable' %>
        <%= svg_tag 'minus', data: { action: 'click->field#remove' }, class: 'icon clickable' %>
      </span>
    </div>
  </div>
<% end %>